<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="favicon.ico">
    <title>ASF Co-Class Members｜(・x・)</title>
</head>
<body>
    <h1 class="jumbotron">ASF Co-Class Members</h1>
    <div class="container">
        <table class="table table-hover table-bordered table-striped">
            <thead class="bg-success text-white">
                <tr>
                    <th>No.</th>
                    <th>氏名</th>
                    <th>idobataID</th>
                    <th>掃除当番skip</th>
                    <th>備考</th>
                </tr>
            </thead>
            <tr th:each="list : ${asf4MemberList}" th:object="${list}">
                <td th:text="*{id}"></td>
                <td th:text="*{name}"></td>
                <td th:text="'@' + *{idobataId}"></td>
                <td th:text="*{skip}"></td>
                <td th:text="*{note}"></td>
        </table>
        <div class="form-check">
            <form method="post" action="/search" th:object="${asf4Member}">
                <input class="btn btn-danger" type="submit" formaction="/skip" value="今日は掃除当番できない"/>
                <input class="btn btn-primary" type="submit" value="メンバー情報変更" />
                <input class="btn btn-success" type="submit" formaction="/create" value="新規登録" />
            </form>
        </div>
    </div>
</body>
</html>
