<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="favicon.ico">
    <title>(・x・) | ASF Co-Class Cleaners</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">4階北の給湯室掃除当番</h1>
        <p class="lead">福井本社4階北フロア(ASF Co-Class)の給湯室を掃除している有志の皆さん向けのページ</p>
        <hr class="my-4">
        <p>給湯室掃除にご協力いただける方は新規登録ボタンからどうぞ</p>
        <div class="form-check">
            <form method="post" action="/search" th:object="${asf4Member}">
                <input class="btn btn-success" type="submit" formaction="/create" value="新規登録" />
            </form>
        </div>
    </div>
    <div class="container">
        <div class="form-check" style="padding-bottom: 8px;">
            <form method="post" action="/search" th:object="${asf4Member}">
                <input class="btn btn-danger" type="submit" formaction="/skip" value="今日は掃除当番できない"/>
                <input class="btn btn-primary" type="submit" value="メンバー情報変更" />
            </form>
        </div>
        <table class="table table-hover table-bordered table-striped">
            <thead class="bg-success text-white">
                <tr>
                    <th>No.</th>
                    <th>氏名</th>
                    <th>idobataID</th>
                    <th>掃除当番skip</th>
                    <th>備考</th>
                    <th>今日の掃除当番</th>
                </tr>
            </thead>
            <tr th:each="list : ${asf4MemberList}"
                th:object="${list}"
                th:style="*{cleaner} == true ? 'background: pink' : 'background: white'">
                <td th:text="*{id}"></td>
                <td th:text="*{name}"></td>
                <td th:text="'@' + *{idobataId}"></td>
                <td th:text="*{skip}"></td>
                <td th:text="*{note}"></td>
                <td th:text="*{cleaner}"></td>
        </table>
    </div>
</body>
</html>
