<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ASF Co-Class Members</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>No.</th>
        <th>氏名</th>
        <th>idobata</th>
        <th>skip</th>
    </tr>
    </thead>
    <tr th:each="list : ${asf4MemberList}" th:object="${list}">
        <td th:text="*{id}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{idobataId}"></td>
        <td th:text="*{skip}"></td>
</table>
<form method="post" action="/search" th:object="${asf4Member}">
  <input type="submit" value="変更"/>
  <input type="submit" formaction="/update" value="新規登録"/>
</form>
</body>
</html>

