<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="favicon.ico">
    <title>変更内容の確認｜(・x・)</title>
</head>
<body>
    <h1 class="jumbotron">編集対象の確認</h1>
    <div class="container">
        <p>登録内容を確認し、変更したい場合は「変更」ボタンを押下してください。</p>
        <p>登録情報を削除したい場合は、「削除」ボタンを押下してください。</p>
        <p>再検索する場合は「戻る」ボタンを押してください。</p>
        <div class="container">
            <form method="post" action="/update" th:object="${asf4Member}">
                <p th:text="'name： ' + *{name}">ここに名前が表示されます</p>
                <p th:text="'idobataID： ' + *{idobataId}">ここにidobataIDが表示されます</p>
                <p th:text="'floor： ' + *{floor}">ここにフロア情報が表示されます</p>
                <p th:text="'skip： ' + *{skip}">ここにskip内容が表示されます</p>
                <input class="btn btn-primary" type="submit" value="変更">
                <input class="btn btn-danger" type="submit" value="削除" formaction="/delete_confirm">
                <input class="btn btn-success" type="submit" value="戻る" formaction="/asf4members">
            </form>
        </div>
    </div>
</body>
</html>
