<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/delete" th:object="${asf4Member}">
        <p> 以下の情報を本当に削除しても大丈夫ですか？</p>
        <p th:text="'name： ' + *{name}">ここに名前が表示されます</p>
        <p th:text="'idobataID： ' + *{idobataId}">ここにidobataIDが表示されます</p>
        <p th:text="'floor： ' + *{floor}">ここにフロア情報が表示されます</p>
        <p th:text="'skip： ' + *{skip}">ここにskip内容が表示されます</p>
        <input type="submit"  value="削除" />
        <input type="submit" value="戻る" formaction="/asf4members"/>
</form>

</body>
</html>
