<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico">
    <title>削除内容の確認｜(・x・)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1 class="jumbotron">削除内容の確認</h1>
    <div class="container">
        <p> 以下の情報を本当に削除しても大丈夫ですか？</p>
        <div class="conatiner">
            <form method=" post" action="/delete" th:object="${asf4Member}">
                <p th:text="'name： ' + *{name}">ここに名前が表示されます</p>
                <p th:text="'idobataID： @' + *{idobataId}">ここにidobataIDが表示されます</p>
                <p th:text="'floor： ' + *{floor}">ここにフロア情報が表示されます</p>
                <p th:text="'skip： ' + *{skip}">ここにskip内容が表示されます</p>
                <input class="btn btn-danger" type="submit" value="削除" />
                <input class="btn btn-success" type="submit" value="戻る" formaction="/asf4members" />
            </form>
        </div>
    </div>
</body>
</html>
