<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>削除確認画面</title>
</head>
<p>
<p>以下の内容を本当に削除しますか？</p>
<p>削除内容を確認し、削除する場合は「削除」ボタンを押下してください。</p>
<form method="post" action="/update" th:object="${asf4Member}">
    <p th:text="'name： ' + *{name}">ここに名前が表示されます</p>
    <p th:text="'idobataID： ' + *{idobataId}">ここにidobataIDが表示されます</p>
    <p th:text="'floor： ' + *{floor}">ここにフロア情報が表示されます</p>
    <p th:text="'skip： ' + *{skip}">ここにskip内容が表示されます</p>
    <input type="submit" formaction="/delete" value="削除"/>
    <input type="button" value="戻る" onclick="history.back();"/>
</form>
</body>
</html>
