<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>検索画面</title>
</head>
<body>
<p>下記必要事項を記載の上、「検索」ボタンを押下してください。</p><br/>
<form method="post" action="/confirm" th:object="${check}">
    <div th:if="*{errorCheck}">
        <font color="red"><p th:text="検索条件にマッチする情報がありませんでした。"></p></font>
    </div>
</form>
<form method="post" action="/confirm" th:object="${asf4Member}">
    idobataID：<input type="text" th:value="*{idobataId}" th:field="*{idobataId}"/>
    <br/>
    <input type="submit" value="検索"/>
    <input type="submit" formaction="/asf4members" value="戻る"/>
</form>
</body>
</html>
